<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong Password</title>
    <link rel="stylesheet" href="../static/css/wrong_pwd.css">
</head>
<body>
    <div class="alert-container">
        <div class="alert-box">
            <p class="alert-message">Oops! You entered the wrong password. Please try again.</p>
            <a href="/hiring/login" class="btn">Go Back to Login</a>
        </div>
    </div>
</body>
</html>